<template>
  <div class="columns">
    <div class="column box">
      <div class="columns">
        <custom-card style="margin: 10px" v-for="(card, $index) in firstCards" :key="$index" :title="'Mesa ' + card.id" :description="getStatusDescription(card.status) + ' con ' + card.chairs + ' sillas'" :status="card.status" @pressClick="selectTable(card.id, $event)" @changeData="changeStatus(card, $event)" />
      </div>
      <div class="columns">
        <custom-card style="margin: 10px" v-for="(card, $index) in secondCards" :key="$index" :title="'Mesa ' + card.id" :description="getStatusDescription(card.status) + ' con ' + card.chairs + ' sillas'" :status="card.status" @pressClick="selectTable(card.id, $event)" @changeData="changeStatus(card, $event)" />
      </div>
      <div class="columns">
        <custom-card style="margin: 10px" v-for="(card, $index) in thirdsCards" :key="$index" :title="'Mesa ' + card.id" :description="getStatusDescription(card.status) + ' con ' + card.chairs + ' sillas'" :status="card.status" @pressClick="selectTable(card.id, $event)" @changeData="changeStatus(card, $event)" />
      </div>
      <div class="columns">
        <custom-card style="margin: 10px" v-for="(card, $index) in fourthCards" :key="$index" :title="'Mesa ' + card.id" :description="getStatusDescription(card.status) + ' con ' + card.chairs + ' sillas'" :status="card.status" @pressClick="selectTable(card.id, $event)" @changeData="changeStatus(card, $event)" />
      </div>
    </div>
    <div v-if="order.tableId && status != 3" class="column">
      <div class="box">
        <div class="field has-text-centered">
          <label><strong> Orden #{{order.id}} de la mesa {{order.tableId}} Status: {{status}} </strong></label>
        </div>
        <div class="field has-text-centered">
          <button v-if="status == 1" class="button is-info" @click="createOrUpdate" >Crear Orden</button>
          <button v-if="status == 2" class="button is-warning" style="margin-right: 4px" @click="generateSplitInvoice(order.id)" >Generar Factura Separadas</button>
          <button v-if="status == 2" class="button is-success" @click="generateOneInvoice(order.id)" >Generar Unica Factura</button>
        </div>
        <hr />
        <table
          class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
        >
          <thead>
            <tr>
              <td><strong>Producto</strong></td>
              <td><strong>Cantidad</strong></td>
              <td><strong>Cliente</strong></td>
              <td><strong>Acción</strong></td>
            </tr>
            <tr>
              <td>
                  <div class="field">
                    <div class="control">
                      <div class="select is-primary">
                        <select v-model="orderDetail.productId">
                          <option
                            v-for="product in products"
                            :key="product.id"
                            :value="product.id"
                          >
                            {{ product.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                </div>
              </td>
              <td>
                <div class="field">
                  <div class="control">
                    <input class="input" type="number" v-model="orderDetail.quantity" />
                  </div>
                </div>
              </td>
              <td>
                  <div class="control">
                    <input class="input" type="text" v-model="orderDetail.customerName" />
                  </div>
              </td>
              <td>
                <div class="field has-addons">
                  <p class="control">
                    <button
                      class="button is-info"
                      type="button"
                      @click="addOrderDetail"
                    >
                      <span class="icon is-small">
                        <i class="fas fa-plus"></i>
                      </span>
                    </button>
                  </p>
                </div>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(p, $index) in order.orderDetails" :key="p.id">
              <td>{{ getProduct(p.productId) }}</td>
              <td>{{ p.quantity }}</td>
              <td>{{ p.customerName }}</td>
              <td style="width: 8%">
                <div class="field has-addons">
                  <p class="control">
                    <button
                      type="button"
                      class="button is-danger"
                      @click="confirmDeleteOrderDetail(p.id, $index)"
                    >
                      <span class="icon is-small">
                        <i class="fas fa-trash"></i>
                      </span>
                    </button>
                  </p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import CustomCard from '../components/CustomCard.vue';

export default {
  name: "CreateOrUpdateOrder",
  components: {
    CustomCard
  },
  data() {
    return {
      status: 1,
      cards: [],
      orderDetail: {
        productId: null,
        quantity: null,
        customerName: null,
      },
      order: {
        id: null,
        tableId: null,
        orderDetails: []
      },
      products: [],
    };
  },
  computed: {
    firstCards () {
      return this.cards.slice(0, 2)
    },
    secondCards () {
      return this.cards.slice(2, 4)
    },
    thirdsCards () {
      return this.cards.slice(4, 6)
    },
    fourthCards () {
      return this.cards.slice(6, 8)
    },
  },
  methods: {
    changeStatus (card, status) {
      if (card.status != 2) {
        card.status = status
        this.status = status
      }
    },
    selectTable (tableId, status) {
      this.order = {
        id: null,
        tableId: null,
        orderDetails: []
      }
      this.orderDetail = {
        productId: null,
        quantity: null,
        customerName: null,
      }
      this.order.tableId = tableId
      this.status = status
      if (status == 2) {
        this.$services.orderService.getOrderByTableId(tableId)
        .then((r) => {
          console.log(r)
          if (r.status == 200) {
            this.order = r.data
            this.order.tableId = 2
          } 
        });
      }
    },
    getStatusDescription (status) {
      if (status == 1) {
        return 'Disponible'
      } else if (status == 2) {
        return 'Ocupado'
      } else if (status == 3) {
        return 'Reservado'
      } else {
        return 'Status no valido'
      }
    },
    getProduct: function (value) {
      let productIndex = this.products.findIndex((x) => x.id == value);
      if (productIndex > -1) return this.products[productIndex].name;

      return null;
    },
    createOrUpdate() {
      if (this.order.id) this.update();
      else this.create();
    },
    update() {
      this.$services.contactService
        .update(this.$route.params.id, this.contact)
        .then((x) => {
          if (x.status == 200) {
            this.$router.push("/product");
            this.$buefy.toast.open(`Contacto actualizado!`);
          }
        });
    },
    create() {
      this.$services.orderService.create(this.order).then((x) => {
        if (x.status == 200) {
          const tableIndexId = this.cards.findIndex(x => x.id == this.order.tableId)
          if (tableIndexId > -1) {
            this.cards[tableIndexId].status = 2
            this.status = 2
            this.order.tableId = null
          }
          this.$buefy.toast.open(`Orden creada!`);
        }
      });
    },
    addOrderDetail() {
      if (!this.order.orderDetails) this.order.orderDetails = [];

      const orderDetail = {
        quantity: this.orderDetail.quantity,
        customerName: this.orderDetail.customerName,
        productId: this.orderDetail.productId,
      }

      this.order.orderDetails.push(orderDetail);

      if (this.order.id) {
        orderDetail.orderId = this.order.id
        orderDetail.tableId = this.order.tableId

        this.$services.orderDetailService.create(orderDetail).then(() => {              
          this.orderDetail = {
            productId: null,
            quantity: 1,
            customerName: null,
          };
          this.$buefy.toast.open(`Producto agregado!`);
        });
      } else {
          this.orderDetail = {
            productId: null,
            quantity: 1,
            customerName: null,
          };
          this.$buefy.toast.open(`Producto agregado!`);
      }
    },
    confirmDeleteOrderDetail(orderDetailId, index) {
      this.$utils.uBuefyService.confirmCustomDelete("Product", () => {
        this.deleteProductOrderDetail(orderDetailId, index);
      });
    },
    deleteProductOrderDetail(orderDetailId, index) {
      if (orderDetailId) {
        this.$services.orderDetailService.remove(orderDetailId).then(() => {
          this.order.orderDetails.splice(index, 1);
        });
      } else this.order.orderDetails.splice(index, 1);
    },
    generateOneInvoice (orderId) {
        this.$services.orderService.generateOneInvoice(orderId).then(() => {
          this.reset()
          this.$buefy.toast.open(`Factura generada!`);
          this.setInitialInfo()
        });
    },

    generateSplitInvoice (orderId) {
        this.$services.orderService.generateSplitInvoice(orderId).then(() => {
          this.reset()
          this.$buefy.toast.open(`Factura generada!`);
          this.setInitialInfo()
        });
    },
    reset () {
      this.order = {
        id: null,
        tableId: null,
        orderDetails: []
      }
      this.orderDetail = {
        productId: null,
        quantity: null,
        customerName: null,
      }
      
      this.order.tableId = null
      this.status = 1
    },
    setInitialInfo() {
      this.$services.productService
        .getAll()
        .then((r) => {
          if (r.status == 200) this.products = r.data;
        });
        this.$services.tableService
        .getAll()
        .then((r) => {
          if (r.status == 200) this.cards = r.data;
        });
    },
  },
  mounted() {
    this.setInitialInfo();
  },
};
</script>

<style scoped>
  .reserved {
    background-color: yellow
  }
  .occupied {
    background-color: red
  }

  .available {
    background-color: green;
  }

  .card-header-title {
    color: white;
  }
</style>