<template>
  <div class="columns">
    <form class="column box" @submit.prevent="createOrUpdate">
    <h6 class="label customTitle" style="font-size: 24px">Producto</h6>
    <hr />
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Introduzca el nombre del producto"
            required
            v-model="product.name"
          />
        </div>
      </div>
        <div class="field">
        <label class="label">Precio</label>
        <div class="control">
          <input
            class="input"
            type="number"
            placeholder="RD$XXX"
            required
            v-model="product.price"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Image</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            type="url"
            v-model="product.photo"
            placeholder="Introduzca la url de su imagen"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <p class="help is-success">
          Si no ingresa una url, se registrá una por defecto
        </p>
      </div>

      <div
        class="field box"
        v-if="product.photo != null && product.photo != ''"
      >
        <figure class="image is-128x128">
          <img :src="product.photo" />
        </figure>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link">
            <span v-if="$route.params.id">Actualizar</span>
            <span v-else>Crear</span>
          </button>
        </div>
        <div class="control">
          <router-link class="button is-link is-light" to="/product"
            >Cancel</router-link
          >
        </div>
      </div>
    </form>
    <div class="column" v-if="product.photo">
      <div class="box">
        <div class="field has-text-centered">
        <label class="label">Imagen</label> 
        <hr/>
        <figure class="image" >
          <img :src="product.photo" />
        </figure>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "CreateOrUpdateProduct",
  data() {
    return {
      product: {}
    };
  },
  methods: {
    createOrUpdate() {
      if (this.$route.params.id) this.update();
      else this.create();
    },
    update() {
      this.$services.productService
        .update(this.$route.params.id, this.product)
        .then((x) => {
          if (x.status == 200) {
            this.$router.push("/product");
            this.$buefy.toast.open(`Producto actualizado!`);
          }
        });
    },
    create() {
      this.$services.productService.create(this.product).then((x) => {
        if (x.status == 200) {
          this.$router.push("/product");
          this.$buefy.toast.open(`Producto agregado!`);
        }
      });
    },
    setInitialInfo() {
      if (this.$route.params.id) {
        this.$services.productService
          .getProduct(this.$route.params.id)
          .then((r) => {
            if (r.status == 200) this.product = r.data;
          });
      }
    },
  },
  mounted() {
    this.setInitialInfo();
  },
};
</script>