<template>
  <div class="">
    <table
      class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <td># Orden</td>
          <td>Mesa</td>
          <td>Fecha de creación</td>
          <td>Cliente</td>
          <td>Subtotal</td>
          <td>ITBS</td>
          <td>Total</td>
          <td>Acción</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="invoice in invoices" :key="invoice.id">
          <td>{{ invoice.id }}</td>
          <td>{{ invoice.tableId }}</td>
          <td>{{ invoice.creationTime }}</td>
          <td>{{ invoice.customerName }}</td>
          <td>{{ invoice.subTotal }}</td>
          <td>{{ invoice.itbis }}</td>
          <td>{{ invoice.total }}</td>
          <td style="width: 8%">
            <div class="field has-addons">
              <p class="control">
                <button
                  class="button is-info"
                  type="button"
                  @click="toPay(invoice.id)"
                >
                  <span class="icon is-small">
                    <i class="fas fa-dollar-sign"></i> 
                  </span> <span style="margin-left: 5px">Pagar</span>
                </button>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: "Invoices",
  data() {
    return {
      invoices: [],
    };
  },
  methods: {
    getInvoices() {
      this.$services.orderService
        .getAllInvoices()
        .then((r) => {
          if (r.status == 200) {
            this.invoices = r.data;
          }
        });
    },
    toPay (orderId) {
        this.$services.orderService
        .toPay(orderId)
        .then((r) => {
          if (r.status == 200) {
            this.$buefy.toast.open(`Pagado!`);
            this.getInvoices()
          }
        });
    }
  },
  mounted() {
    this.getInvoices();
  },
};
</script>