<template>
  <div>
    <div v-if="error" class="notification is-danger">
      <button class="delete" @click="error = null"></button>
      {{ error }}
    </div>
    <div class="columns is-centered">
      <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <form @submit.prevent="login" class="box">
          <div class="field">
            <label for="" class="label">Username</label>
            <div class="control has-icons-left">
              <input
                type="text"
                placeholder="e.g. username"
                class="input"
                v-model="user.userName"
                required
              />
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label for="" class="label">Password</label>
            <div class="control has-icons-left">
              <input
                type="password"
                placeholder="*******"
                v-model="user.password"
                class="input"
                required
              />
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <button type="submit" class="button is-success">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Login",
  data() {
    return {
      error: null,
      user: {
        userName: null,
        password: null,
      },
    };
  },
  methods: {
    login() {
      this.$services.userService
        .login(this.user)
        .then((r) => {
          if (r.status == 200) {
            this.$services.userService.prepare(r.data.token);
            this.$store.state.user.user = r.data.user;
            this.$store.state.user.token = r.data.token;
            
            console.log(this.$store);
            this.$router.push("/");
            this.$buefy.toast.open(`Usuario logueado exitosamente!`);
          }
        })
        .catch(() => {
          this.error = "Usuario o contraseña incorrecto";
        });
    },
  },
};
</script>