<template>
  <div class="">
    <table
      class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <td></td>
          <td>Nombre</td>
          <td>Email</td>
          <td>Phone</td>
          <td>Acción</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="contact in contacts" :key="contact.id">
          <td style="width: 1%">
            <figure class="image is-32x32">
              <img class="is-rounded" :src="contact.pictureUrl" />
            </figure>
          </td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.phones.map((x) => x.number).join(", ") }}</td>
          <td style="width: 8%">
            <div class="field has-addons">
              <p class="control">
                <button
                  class="button is-info"
                  type="button"
                  @click="$router.push(`/product/${contact.id}/update`)"
                >
                  <span class="icon is-small">
                    <i class="fas fa-pen"></i>
                  </span>
                </button>
              </p>
              <p class="control">
                <button
                  class="button is-danger"
                  type="button"
                  @click="confirmRemoveContact(contact.id)"
                >
                  <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                  </span>
                </button>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: "Orders",
  data() {
    return {
      contacts: [],
    };
  },
  methods: {
    getContacts() {
      this.$services.contactService
        .getAll(this.$store.state.user.user.id)
        .then((r) => {
          if (r.status == 200) {
            this.contacts = r.data;
          }
        });
    },
    confirmRemoveContact(contactId) {
      this.$utils.uBuefyService.confirmCustomDelete("contacto", () => {
        this.removeContact(contactId);
      });
    },
    removeContact(contactId) {
      this.$services.contactService.remove(contactId).then((r) => {
        if (r.status == 200) {
          this.$buefy.toast.open(`Contacto removido!`);
          this.getContacts();
        }
      });
    },
  },
  mounted() {
    this.getContacts();
  },
};
</script>