<template>
  <div class="">
    <table
      class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
    >
      <thead>
        <tr>
          <td></td>
          <td>Nombre</td>
          <td>Precio</td>
          <td>Acción</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products" :key="product.id">
          <td style="width: 1%">
            <figure class="image is-128x128">
              <img class="is-rounded" :src="product.photo" />
            </figure>
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td style="width: 8%">
            <div class="field has-addons">
              <p class="control">
                <button
                  class="button is-info"
                  type="button"
                  @click="$router.push(`/product/${product.id}/update`)"
                >
                  <span class="icon is-small">
                    <i class="fas fa-pen"></i>
                  </span>
                </button>
              </p>
              <p class="control">
                <button
                  class="button is-danger"
                  type="button"
                  @click="confirmRemoveProduct(product.id)"
                >
                  <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                  </span>
                </button>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: "Product",
  data() {
    return {
      products: [],
    };
  },
  methods: {
    getProducts() {
      this.$services.productService
        .getAll()
        .then((r) => {
          if (r.status == 200) {
            console.log(r.data)
            this.products = r.data;
          }
        });
    },
    confirmRemoveProduct(productId) {
      this.$utils.uBuefyService.confirmCustomDelete("Producto", () => {
        this.removeProduct(productId);
      });
    },
    removeProduct(productId) {
      this.$services.productService.remove(productId).then((r) => {
        if (r.status == 200) {
          this.$buefy.toast.open(`Producto Removido!`);
          this.getProducts();
        }
      });
    },
  },
  mounted() {
    this.getProducts();
  },
};
</script>