<template>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li :class="{'is-active': $route.path == '/' }">
            <router-link to="/">Home</router-link>
          </li>
          <li :class="{'is-active': $route.path == '/product' }">
            <router-link to="/product">Ordenes</router-link>
          </li>
          <li class="is-active" v-if="$route.params.id">
            <a>Actualizacion</a>
          </li>
          <li v-else :class="{'is-active': $route.path == '/product/create' }">
            <router-link to="/product/create">Crear Order</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>
<script>
export default {
  name: "AppFooter",
};
</script>