<template>
     <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a  class="navbar-item " >
              <p>Hola, <strong>{{$store.state.user.user.userName}}</strong></p>
            </a>
            <router-link to="/" class="navbar-item " :class="{'is-active': $route.path == '/' }">
              Home
            </router-link>
            <router-link v-if="$store.state.user.user.type == 1" to="/product" class="navbar-item" :class="{'is-active': $route.path == '/product' }">
              Productos
            </router-link>
            
            <router-link v-if="$store.state.user.user.type == 4" to="/invoices" class="navbar-item" :class="{'is-active': $route.path == '/invoices' }">
              Facturas
            </router-link>
            
            <router-link v-if="!$route.params.id && $store.state.user.user.type == 3" to="/order/create" class="navbar-item" :class="{'is-active': $route.path == '/order/create' }">
              Crear Order
            </router-link>

            <router-link v-if="!$route.params.id && $store.state.user.user.type == 1" to="/product/create" class="navbar-item" :class="{'is-active': $route.path == '/product/create' }">
              Crear Producto
            </router-link>
            <span class="navbar-item">
              <a class="button is-danger is-inverted" @click="disconect">
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                <span>Desconectarse</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
    name: 'AppHeader',
    methods: {
      disconect() {
        this.$store.state.user.user = {};
        this.$store.state.user.token = null;
        this.$router.push('/login')
      }
    }
}
</script>