<template>
    <div class="card has-text-white" :class="background" >
        <header class="card-header">
            <a class="card-header-title" @click="clickInCard">
            {{title}}
            </a>
        </header>
        <div class="card-content">
            <div class="content">
            {{description}}
            </div>
        </div>
        <footer class="card-footer " style="background-color: white">
            <a class="card-footer-item" @click="changeColor(1)"> <span style="padding: 12px; background-color: green"></span><span style="margin-left: 5px">Disponible</span></a>
            <p style="color: black" class="card-footer-item" > <span style="padding: 12px; background-color: red"></span><span style="margin-left: 5px">Ocupado</span></p>
            <a class="card-footer-item" @click="changeColor(3)"> <span style="padding: 12px; background-color: yellow"></span><span style="margin-left: 5px">Reservado</span></a>
        </footer>
        </div>
</template>
<script>
export default {
    name: 'CustomCard',
    props: {
        title: {
            required: true,
            type: String
        },
        description: {
            required: true,
            type: String
        },
        status: {
            required: true,
            type: Number // 1 Available, 2 Ocupado y 3 Reservado
        }
    },
    computed: {
        background () {
            if (this.status === 1) {
                return 'has-background-success'
            } else if (this.status === 2) {
                return 'has-background-danger'
            } else if (this.status === 3) {
                return 'has-background-warning'
            } else {
                return 'has-background-dark'
            }
        }
    },
    methods: {
        changeColor (status) {
            this.$emit('changeData', status)
        },
        clickInCard () {
            this.$emit('pressClick', this.status)
        }
    }
}
</script>