<template>
  <div id="app">
    <section class="hero is-info is-fullheight">
      <app-header></app-header>
      <div class="hero-body">
        <div class="container ">
          <p class="title">Restaurante</p>
          <p class="subtitle">Porque no encontrarás un lugar mejor <strong>Comidas Ya</strong></p>
          <router-view></router-view>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import AppHeader from "./components/AppHeader.vue";

export default {
  name: "App",
  components: {
    AppHeader,
  },
};
</script>